<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="tests" thread-count = "1" name="Regression">

	<test name="Chome" >
		<parameter name="BrowserType" value="chrome" />
		<classes>
			<class name="com.test.jcpennary.Seach" />
		</classes>

	</test> <!-- Test -->

	<test name="Firefox">
		<parameter name="BrowserType" value="firefox" />
		<classes>
			<class name="com.test.jcpennary.Seach" />
		</classes>

	</test> <!-- Test -->

</suite> <!-- Suite -->
